trigger: none

resources:
- repo: self

variables:
  imageName: java-app
  containerName: java-app-container
  tag: '$(Date:yyyyMMdd)-$(Date:HHmmss)'


stages:
- stage: BuildAndDeploy
  displayName: Build Image and Deploy Container
  jobs:
  - job: BuildDeploy
    displayName: Build & Run Docker Container
    pool: TodoAgent   # ✅ SELF-HOSTED AGENT

    steps:
    # 1 Build Docker Image
    - task: Docker@2
      displayName: Build Docker Image
      inputs:
        command: build
        repository: $(imageName)                 # ❗ sirf image name
        dockerfile: $(Build.SourcesDirectory)/Dockerfile
        tags: |
          $(tag)

    # 2 Run container from image (DEPLOY)
    - task: PowerShell@2
      displayName: Run Docker Container
      inputs:
        targetType: inline
        script: |
          docker run -d `
            --name $(containerName) `
            -p 7000:8080 `
            $(imageName):$(tag)
