# Docker
# Build a Docker image
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
- main

resources:
- repo: self

variables:
  tag: '$(Build.BuildId)'

stages:
- stage: Build
  displayName: Build image
  jobs:
  - job: Build
    displayName: Build
    pool: TodoAgent
    steps:
    - task: Docker@2
      displayName: Build an image
      inputs:
        command: build
        repository: java-app
        dockerfile: '$(Build.SourcesDirectory)/Dockerfile'
        tags: |
          latest
          $(tag)

    - task: PowerShell@2
      inputs:
        targetType: 'inline'
        script: 'docker rm -f'
    - task: PowerShell@2
      inputs:
        targetType: 'inline'
        script: 'docker run -d --name java-app-container -p 8080:8080 java-app:latest'